<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBookingDAO">
    <resultMap id="booking" type="model.Booking"/>
    <select id="getBookingById" parameterType="java.lang.Long">
        select * from Booking where id = #{id}
    </select>
    <select id="getBooking" resultMap="booking">
        select * from Booking
    </select>
    <insert id="insertBooking" parameterType="model.Booking">
        insert into Booking(id, date, address_id, car_id, driver_id, dispatcher_id, client_id)
        values (#{id}, #{date}, #{address.id}, #{car.id}, #{driver.id}, #{dispatcher.id}, #{client.id})
    </insert>
    <update id="updateBooking" parameterType="model.Booking">
        update Booking
        set date = #{date}
        where id = #{id}
    </update>
    <delete id="deleteBooking" parameterType="model.Booking">
        delete from Booking
        where id = #{id}
    </delete>
</mapper>