<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IClientDAO">
    <resultMap id="client" type="model.Client" extends="dao.IPersonDAO.person">
        <id property="id" column="id"/>
    </resultMap>
    <select id="getClientById" parameterType="java.lang.Long">
        select * from Client
        join Person on Person.id = Client.person_id
        where id = #{id}
    </select>
    <select id="getClient" resultMap="client">
        select * from Client
        join Person on Person.id = Client.person_id
    </select>
    <insert id="insertClient" parameterType="model.Client">
        insert into Client(id, person_id)
        values (#{id}, #{personId})
    </insert>
    <update id="updateClient" parameterType="model.Client">
        update Client
        set person_id = #{personId}
        where id = #{id}
    </update>
    <delete id="deleteClient" parameterType="model.Client">
        delete from Client
        where id = #{id}
    </delete>
</mapper>