<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IDriverDAO">
    <resultMap id="driver" type="model.Driver" extends="dao.IPersonDAO.person">
        <id column="id" property="id"/>
        <association property="license" resultMap="dao.IDriverLicenseDAO.DriverLicense"/>
    </resultMap>
    <select id="getDriverById" parameterType="java.lang.Long" resultMap="driver">
        select * from Driver
        join Person on Person.id = Driver.person_id
        where id = #{id}
    </select>
    <select id="getDriver" resultMap="driver">
        select Driver.id, Driver.DriverLicense_id, Driver.Person_id,
            Person.id, Person.name, Person.phonenumber,
            DriverLicense.id, DriverLicense.number, DriverLicense.date_of_issue from Driver
        join Person on Person.id = Driver.Person_id
        join DriverLicense on Driver.DriverLicense_id = DriverLicense.id
    </select>
    <insert id="insertDriver" parameterType="model.Driver">
        insert into Driver(id, person_id, DriverLicense_id)
        values (#{id}, #{personId}, #{license.id})
    </insert>
    <update id="updateDriver" parameterType="model.Driver">
        update Driver
        set DriverLicense_id = #{license.id}, person_id = #{personId}
        where id = #{id}
    </update>
    <delete id="deleteDriver" parameterType="model.Driver">
        delete from Driver
        where id = #{id}
    </delete>
</mapper>