<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PersonMapper">
    <resultMap id="person" type="model.Person"/>
    <select id="getPersonById" parameterType="java.lang.Long" resultType="model.Person">
        select * from Person where id = #{id}
    </select>
    <select id="getPerson" resultMap="person">
        select * from Person
    </select>
    <insert id="insertPerson" parameterType="model.Person">
        insert into Person(id, name, phonenumber)
        values (#{id}, #{name}, #{phonenumber})
    </insert>
    <update id="updatePerson" parameterType="model.Person">
        update Person
        set phonenumber = #{phonenumber}, name = #{name}
        where id = #{id}
    </update>
    <delete id="deletePerson" parameterType="model.Person">
        delete from Person
        where id = #{id}
    </delete>
</mapper>